.wrapper-lang{
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  // background-color: rgb(180, 55, 55);
  z-index: 100; //Esto me sirve para poder subir una capa por encima de otra capa
  width:100%;
  max-width: 97vw;
  margin-top:2rem;
}

wrapper-lang{
  cursor: pointer;
    &house-icon{

    }
}

.en-icon{
  &:nth-of-type(1){
    padding-right:3rem;
  }

}
// {
// font-family: got;
// color: white;
// }
//Position absolute para colocar por encima
