
.wrapper{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  &__img{
    background: url('../../../assets/images/image1@2x.png');
    height: 100%;
    width:100%;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
  }


}
